# Gradle
.gradle
build

*~
*.DS_Store
*.class
*java#
*.settings
local.properties
.arc/
bin/
gen/
out/
src/main/.project
.idea/workspace.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.project
.classpath
.settings/
